{% include "app/html_header.html" with title="Lernkontrolle "|add:pool navbar_corner="Logout" %}

<form id="form" action="{{selfpath}}/card" method="post">
{% csrf_token %}
<div id="container" class="container-fluid">
  <div class="row justify-content-md-center align-items-center">
    <div class="col col-1">
        <button type="button" class="btn btn-dark invisible" style="height:100px;">&#10094;</button>
    </div>
    <div class="col col-8">
      <div id="progress">
          {# FIXME: TODO #}
      </div>
      <div id="q">
      {# JavaScript will insert question here #}
      </div>
    </div>
    <div class="col col-1 text-end">
      <input id="next_button" type="submit" class="btn btn-dark" style="height:100px;" value="&#10095;">
    </div>
  </div>
</div>
</form>


<footer data-bs-theme="dark" class="fixed-bottom">
  <div class="navbar navbar-dark bg-dark">          
    <div class="container justify-content-md-center">
      <span class="navbar-brand">
        <a href="{% url 'app:selfstudy_start' pool %}" class="btn btn-danger">Zurück</a>
      </span>
    </div>
  </div>
</footer>

<script>
get_card();
function get_card()
{
  // We pass this info to ensure the tool won't display the same question twice in a row
  try {
    var current_question = document.getElementById('question_id').getAttribute('value');
  } catch(err)
  {
      var current_question = '';
  }
  // Disable while we fetch card
  document.getElementById('next_button').classList.add('disabled');
  fetch('{{selfpath}}/card?previous_question='+current_question)
    .then(response => {
        // Re-enable after success or failure
        document.getElementById('next_button').classList.remove('disabled');
        if (!response.ok) {
            throw new Error('Failed to retrieve HTML from URL: ' + url);
        }
        return response.text();
    })
    .then(html => {
        document.getElementById("q0").innerHTML = html;
        MathJax.typeset(); // Rescan for embedded MathJax
    })
    .catch(error => {
        console.error(error);
    });
}
</script>

{% include "app/html_footer.html" %}
